.gallery-item-orange{
    margin-right: 5px;
    width: 190px;
    height: 133px;
    border: solid 6px #F29123;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    border-radius: 6px;
}
.gallery-video-item-orange{
    margin-right: 5px;
    width: 190px;
    height: 133px;
    border: solid 6px #F29123;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    border-radius: 6px;
    background-image: url("../../../images/gallery_video_icon.png");
    background-position: center center;
    background-repeat: no-repeat;
}
.galery-audio-item-orange{
    width:190px; 
    height:114px;
    background-image: url("../../../images/gallery_audio_icon.png");
    background-position: center top;
    background-repeat: no-repeat;
}
.gallery-item-title-orange{
    margin-right: 5px;
    width: 170px;
    padding: 5px;
    height: 40px;
    border: solid 2px #F29123;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    border-radius: 6px;
    border-top: none;
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
    font-weight: bold;
    background-color: #f7f7f7;
}