/*@import url(http://fonts.googleapis.com/css?family=Engagement);*/

/*h1 {
text-align:center;
font-family:'Engagement', sans-serif;
font-size:88px;
font-weight:normal;
color:#606060;
}*/

#content {
width:100%;
}

.maps {
float:left;
width:900px;
height:500px;

-moz-box-shadow:0 0 5px #ddd;
-webkit-box-shadow:0 0 5px #ddd;
box-shadow:0 0 5px #ddd;
}
.network-planta1 {
float:left;
width:900px;
height:500px;

-moz-box-shadow:0 0 5px #ddd;
-webkit-box-shadow:0 0 5px #ddd;
box-shadow:0 0 5px #ddd;
}

.network-planta2 {
float:left;
width:900px;
height:500px;

-moz-box-shadow:0 0 5px #ddd;
-webkit-box-shadow:0 0 5px #ddd;
box-shadow:0 0 5px #ddd;
}

.network-planta3 {
float:left;
width:900px;
height:500px;

-moz-box-shadow:0 0 5px #ddd;
-webkit-box-shadow:0 0 5px #ddd;
box-shadow:0 0 5px #ddd;
}

.mapst {
float:left;
width:900px;
height:500px;

-moz-box-shadow:0 0 5px #ddd;
-webkit-box-shadow:0 0 5px #ddd;
box-shadow:0 0 5px #ddd;
}

/*.menu {
margin-bottom:40px;
text-align:center;
}

.menu a {
color:#D7363A;
font-size:11px;
font-weight:bold;
margin:0 10px;
}*/

.preloader {
background:url(../images/loader.gif) no-repeat center #fff;
}

.marker {
display:block;
text-indent:-9999px;
width:15px;
height:23px;
outline:none;
background:url(../images/marker.png) no-repeat;
cursor:pointer;
}

.popup {
width:300px;
position:absolute;
padding:8px;
background:white;
color:rgb(3, 44, 211);
font-size:11px;
border-radius: 15px;
border: 1px solid;
box-shadow: 0px 0px 2em rgb(3, 44, 211);
}

.popup_table, .popup_table td{
    border: 1px solid white;
    border-collapse:collapse;
}

.popup h3 {
margin:0;
margin-bottom:10px;
font-family: 'Cabin Condensed', sans-serif;
font-weight:bold;
font-size:20px;
margin-left: -24px;
margin-top: -21px;
color: white;
text-shadow: 0 0 0.2em rgb(7, 0, 185), 0 0 0.2em rgb(16, 6, 255), 0 0 0.2em rgb(0, 16, 129);
}

.popup .close {
display:block;
text-indent:-9999px;
position:absolute;
top:4px;
right:4px;
width:16px;
height:16px;
outline:none;
background:url(../images/close.gif) no-repeat;
cursor:pointer;
}

.relative {
position:relative;
}


.controls a {
background:#2a2a2a;
background:rgba(0, 0, 0, .6);
display:block;
float:left;
clear:both;
font-size:11px;
font-weight:bold;
line-height:28px;
margin-bottom:4px;
outline:none;
padding:0 15px;
text-decoration:none;
display: none;
}

.controls a:hover {
background:#eee;
color:#2a2a2a;
}

.controls .active {
background:#D7363A;
color:#fff;
}

